<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
   <typeAliases>
   
   <typeAlias type="com.naver.vo.MemberVO" alias="m"/>
   <!-- MemberVO빈 클래스 객체명 별칭 m을 생성하고 관리 -->
   
   <typeAlias type="com.naver.vo.BoardVO" alias="b"/>
   
   <!-- test를 위해 생성 -->
   <typeAlias type="com.naver.vo.BoardNightVO" alias="nb"/>
   
   <typeAlias type="com.naver.vo.ReplyVO" alias="r"/>
   
   <typeAlias type="com.naver.vo.MessageVO" alias="message"/>
   
   <typeAlias type="com.naver.vo.UserVO" alias="user"/>
   </typeAliases>
</configuration>   